


<div class="slider">
        <div class="slider-inner">
            <div class="slider-item"><%= image_tag 'futari.png' %></div>
            <div class="slider-item"><%= image_tag 'huku.png' %></div>
            <div class="slider-item"><%= image_tag 'inu.png' %></div>
        </div>
    </div>

