.container {
    width: 50%;
    margin: 10px auto;
    list-style: none;
    padding-bottom: 20px;
  }
  h2 {
    width: 150px;
    margin: 30px auto;
    margin-left: 200px;
    padding-top: 30px;
    font-family: 'Comic Sans MS';
  }

  h3 {
    width: 250px;
    margin: 30px auto;
    margin-left: 100px;
    padding-top: 30px;
    font-family: 'Arial Black',sans-serif;
  }
  .tweet {
    border-top: solid #080808;
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 50px;
    font-family: 'Arial Black',sans-serif;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }

  // .cardura{
  //   background-image: url("sirokro.jpg");
  //   background-origin: border-box;
  //   background-size: 900px, 600px;
  // }

  .field {
    margin-left: 60px;
    padding-top: 30px;
    font-family: 'Arial Black',sans-serif;
    font-size: 120%;
  }

  .submit {
    margin-left: 40px;
    padding-top: 30px;
  }
  
  h4{
    
      width: 250px;
      margin: 30px auto;
      margin-left: 100px;
      padding-top: 30px;
      font-family: 'Arial Black',sans-serif;
      font-size: 100%;
    }
  
  .line{
    margin-left: 20px;
  }
  