.slider {
    width: 1000px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
  
  }
  .slider-item {
    width: 1000px;
    float: left;
  }
  img{
    width:100%;
  }
  .slider-inner {
    width: 500%;
    animation: slider 10s infinite ease;
  }
  
  @keyframes slider {
      0% {
      transform: translateX(0);
      }
      50% {
      transform: translateX(-1000px);
      }
      100% {
      transform: translateX(0);
      }
  }

  .test {
    width: 50%;
    margin: 10px auto;
    margin-left: 30px;
  }

  .tenki {
    margin-left: 40px;
    padding-top: 30px;
    font-size: 60%;
    font-family: 'Arial Black',sans-serif;
  }